# BANKING DATA ANALYSIS

# Project Description
In the ever-evolving world of banking and finance, understanding customer behavior and the regional impact of transactions plays a crucial role in decision-making and strategic planning. This project, titled "Analyzing Banking Trends: Customer Transactions and Regional Impact," aims to explore and analyze the vast troves of transaction data to gain valuable insights into customer behavior patterns and their implications on different world regions.

Objective: The primary objective of this project is to delve into customer transactions and identify trends that may impact regional economies and financial systems. By combining data cleaning techniques in Python and utilizing SQL queries on a set of interconnected tables, we aim to gain a comprehensive understanding of how customer transactions vary across different regions and the possible implications on the banking sector.

Data Sources: The project leverages three key tables that provide valuable information for analysis:

1. world_regions table: This table contains data on various world regions and their corresponding codes and names. It serves as a reference to categorize customers based on their regional affiliation.

2. user_nodes table: The user_nodes table holds crucial details about consumers' banking nodes, including their unique consumer IDs, associated region IDs, node IDs, start dates, and end dates. This data enables us to identify the specific banking nodes to which customers are connected and their duration of association.

3. user_transaction table: This table is a comprehensive repository of customer transactions, containing data such as consumer IDs, transaction dates, types of transactions, and transaction amounts. Analyzing this data allows us to uncover patterns in customer spending and financial behaviors
 
All of this dataset was sourced by hicounselor(https://hicounselor.com/projects/analyzing-banking-trends-customer-transactions-and-regional-impact) as part of their materials for individuals to learn and build their portfolio

In [2]:
import psycopg2
import pandas as pd

In [5]:
db_params = {
    "host": "localhost",  # or "127.0.0.1" if your database is on the local machine
    "port": 5432,         # Default PostgreSQL port
    "database": "banking_data",
    "user": "postgres",
    "password": "dibie04062000"
}

In [6]:
conn = psycopg2.connect(**db_params)

In [8]:
query = "SELECT * FROM user_nodes_cleaned;"  # Replace "your_table" with the actual table name
df = pd.read_sql_query(query, conn)

In [9]:
df

      consumer_id  region_id  node_id  start_date    end_date
0               1          3        4  2020-01-02  2020-01-03
1               2          3        5  2020-01-03  2020-01-17
2               3          5        4  2020-01-27  2020-02-18
3               4          5        4  2020-01-07  2020-01-19
4               5          3        3  2020-01-15  2020-01-23
...           ...        ...      ...         ...         ...
3495          496          3        4  2020-02-25  2021-12-31
3496          497          5        4  2020-05-27  2021-12-31
3497          498          1        2  2020-04-05  2021-12-31
3498          499          5        1  2020-02-03  2021-12-31
3499          500          2        2  2020-04-15  2021-12-31

[3500 rows x 5 columns]

In [11]:
conn.close()